metadata.config_version_wildcard = "*"

[game_setup]
roblox_version = '2018'

enable_saveplace = false

[game_setup.persistence]
sqlite_path = '_.sqlite'
clear_on_start = false

[server_core.place_file]
rbxl_uri = '_.rbxl'

[server_core.metadata]
title = "VisualPlugin's Old Lift Collection of Elevators"
description = ""
creator_name = "VisualPlugin; circa late 2015"
icon_uri = 'https://ia600506.us.archive.org/34/items/soundcloud-1509042007/1509042007.jpg'


[server_core]
startup_script = ''

retrieve_default_user_code = '''
def f(tick: float) -> str:
    return 'Player%d' % tick
'''

check_user_allowed = '''
def f(user_iden, user_code) -> bool:
    return True
'''

retrieve_avatar = '''
def f(user_iden, user_code) -> dict:
    return {
        'type': 'R6',
        'colors': {
            'head': BrickColor.Random().Number,
            'left_arm': BrickColor.Random().Number,
            'left_leg': BrickColor.Random().Number,
            'right_arm': BrickColor.Random().Number,
            'right_leg': BrickColor.Random().Number,
            'torso': BrickColor.Random().Number,
        },
        'scales': {
            'height': 1,
            'width': 1,
            'head': 1,
            'depth': 1,
            'proportion': 0,
            'body_type': 0,
        },
        'items': [],
    }
'''

retrieve_username = '''
def f(user_id_num, user_code):
    return user_code
'''

filter_text = '''
def f(text, user_id_num, user_code):
    return (
        text
        .replace('oo','òó')
        .replace('OO','ÒÓ')
        .replace('ee','èé')
        .replace('EE','ÈÉ')
        .replace('Roblox','Rōblox')
        .replace('ROBLOX','RŌBLOX')
    )
'''

retrieve_groups = '''
function(user_iden, user_code) -- str -> str
    return {
        ['1200769'] = 255;
        ['2868472'] = 255;
        ['4199740'] = 255;
        ['4265462'] = 255;
        ['4265456'] = 255;
        ['4265443'] = 255;
        ['4265449'] = 255;
    }
end
'''

retrieve_default_funds = '''
def f(*a):
    return 6767
'''

chat_style = 'ClassicAndBubble'
